/* css para todas las pages */
footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

footer div {
    display: flex;
    align-items: center;
}

footer div a {
    text-decoration: none;
    color: #000;
    transition: color .5s;
}

.main img {
    width: 18rem;
    height: 300px;
}

/*--------------------css para index----------------------- */
.main {
    padding-bottom: 100px;
}

// .titMed {
//     background-color: beige;
//     border-radius: 2rem;
//     border-bottom: solid 2rem;
//     color: beige;
// }

// .titMed div {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .div_2 {
//     display: flex;
//     flex-direction: column;
// }

// .titMed img {
//     margin-top: 30px;
//     height: 200px;
//     width: 200px;
//     border-radius: 1rem;
//     opacity: 90%;
// }

// .titMed div {
//     margin-top: 30px;
//     font-family: Georgia, 'Times New Roman', Times, serif;
//     font-size: x-large;
//     color: #000;
// }


.div__espacio {
    padding: 20px;
}

.div_nav {
    display: flex;
    align-items: center;
}

.div_nav svg {
    margin-right: 10px;
}

/*-------------- css para ubicacion ----------------  */
.headerUbi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerUbi h2 {
    margin-top: 70px;
}

.pasos__ubi ol li {
    font-size: large;
}

.headerUbi iframe {
    border-radius: 20px;
}

/* ------------------- css para contactos---------------- */
.secCont {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: beige;
    opacity: 80%;
}

.formCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 30px;
}

.divCont button:hover {
    background-color: beige;
}

@media only screen and (max-width: 700px) {
    .titMed p {
        display: none;
    }

    .titMed div {
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    iframe {
        width: 400px;
        height: 450px;
    }
}

.btn {
    background-color: rgb(124, 61, 15);
    border-color: #000;

    &:hover {
        background-color: $bg;
    }
}
$bg:rgb(151, 71, 5);
@import"header";