h1 {
  color: blue;
}

h2 {
  color: red;
}

h3 {
  color: green;
}

h4 {
  color: aqua;
}

.titMed {
  background-color: beige;
  border-radius: 2rem;
  border-bottom: solid 2rem;
  color: beige;
}

.titMed div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.titMed img {
  margin-top: 30px;
  height: 200px;
  width: 200px;
  border-radius: 1rem;
  opacity: 90%;
}

.titMed div {
  margin-top: 30px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: x-large;
  color: #000;
}

/* css para todas las pages */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer div a {
  text-decoration: none;
  color: #000;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.main img {
  width: 18rem;
  height: 300px;
}

/*--------------------css para index----------------------- */
.main {
  padding-bottom: 100px;
}

.div__espacio {
  padding: 20px;
}

.div_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.div_nav svg {
  margin-right: 10px;
}

/*-------------- css para ubicacion ----------------  */
.headerUbi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.headerUbi h2 {
  margin-top: 70px;
}

.pasos__ubi ol li {
  font-size: large;
}

.headerUbi iframe {
  border-radius: 20px;
}

/* ------------------- css para contactos---------------- */
.secCont {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: beige;
  opacity: 80%;
}

.formCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

.divCont button:hover {
  background-color: beige;
}

/* ------------------- css para productos---------------- */
.mainProd {
  width: 100%;
  max-width: 100%;
  height: 430px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
}

.mainProd .divProd {
  width: 330px;
  height: 430px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 20px;
  text-align: center;
  -webkit-transform: all 0.25s;
          transform: all 0.25s;
}

.mainProd .divProd:hover {
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  -webkit-box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
          box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.mainProd .divProd img {
  width: 330px;
  height: 220px;
}

@media only screen and (max-width: 700px) {
  .titMed p {
    display: none;
  }
  .titMed div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  iframe {
    width: 400px;
    height: 450px;
  }
}

.btn, .btn .btn_btndif {
  background-color: #7c3d0f;
  border-color: #000;
}

.btn:hover, .btn .btn_btndif:hover {
  background-color: #974705;
}

.btn .btn_btndif {
  font-family: 'Courier New', Courier, monospace;
}
/*# sourceMappingURL=estilo.css.map */